In [28]:
#Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import datetime as dt
from scipy.stats import linregress

# Study data files.
NFLX_Stock_data = "../NFLX.csv"
AMC_Stock_data = "../AMC.csv"
COVID_19_data = "../COVID.csv"

# Read the NFLX and AMC stock CVS files.
NFLX_Stock_df = pd.read_csv(NFLX_Stock_data)
AMC_Stock_df = pd.read_csv(AMC_Stock_data)
COVID_19_data = pd.read_csv(COVID_19_data)

FileNotFoundError: [Errno 2] No such file or directory: '../COVID.csv'

In [12]:
NFLX_Stock_df["Company"] = "Netflix"

In [13]:
NFLX_Stock_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Company
0,12/31/19,322.000000,324.920013,321.089996,323.570007,323.570007,3713300,Netflix
1,1/2/20,326.100006,329.980011,324.779999,329.809998,329.809998,4485800,Netflix
2,1/3/20,326.779999,329.859985,325.529999,325.899994,325.899994,3806900,Netflix
3,1/6/20,323.119995,336.359985,321.200012,335.829987,335.829987,5663100,Netflix
4,1/7/20,336.470001,336.700012,330.299988,330.750000,330.750000,4703200,Netflix

In [14]:
AMC_Stock_df["Company"] = "AMC"

In [15]:
AMC_Stock_df.head()

       Date  Open  High   Low  Close  Adj Close   Volume Company
0  12/31/19  7.24  7.30  7.15   7.24   7.195854  3279000     AMC
1    1/2/20  7.30  7.56  7.23   7.46   7.414512  4545900     AMC
2    1/3/20  7.45  7.60  7.31   7.32   7.275366  2218000     AMC
3    1/6/20  7.25  7.30  7.11   7.12   7.076585  2903400     AMC
4    1/7/20  7.11  7.20  7.00   7.13   7.086524  3205300     AMC

In [ ]:
COVID_19_df.head()

In [17]:
# Combine the data into a single dataset
stock_data_combined_df = pd.merge(NFLX_Stock, AMC_Stock, how='outer', on='Date')

stock_data_combined_df.head()

,Date,Open_x,High_x,Low_x,Close_x,Adj Close_x,Volume_x,Open_y,High_y,Low_y,Close_y,Adj Close_y,Volume_y
0,12/31/19,322.000000,324.920013,321.089996,323.570007,323.570007,3713300,7.24,7.30,7.15,7.24,7.195854,3279000
1,1/2/20,326.100006,329.980011,324.779999,329.809998,329.809998,4485800,7.30,7.56,7.23,7.46,7.414512,4545900
2,1/3/20,326.779999,329.859985,325.529999,325.899994,325.899994,3806900,7.45,7.60,7.31,7.32,7.275366,2218000
3,1/6/20,323.119995,336.359985,321.200012,335.829987,335.829987,5663100,7.25,7.30,7.11,7.12,7.076585,2903400
4,1/7/20,336.470001,336.700012,330.299988,330.750000,330.750000,4703200,7.11,7.20,7.00,7.13,7.086524,3205300

In [25]:
stock_data_combined_df = stock_data_combined_df.rename(columns = {"Open_x" : "Netflix Open", "High_x" : "Netflix High", "Low_x" : "Netflix Low", "Close_x" : "Netflix Close", "Adj Close_x" : "Netflix Adj Close", "Volume_x" : "Netflix Volume"})

In [27]:
stock_data_combined_df = stock_data_combined_df.rename(columns = {"Open_y" : "AMC Open", "High_y" : "AMC High", "Low_y" : "AMC Low", "Close_y" : "AMC Close", "Adj Close_y" : "AMC Adj Close", "Volume_y" : "AMC Volume"})

stock_data_combined_df.head()

,Date,Netflix Open,Netflix High,Netflix Low,Netflix Close,Netflix Adj Close,Netflix Volume,AMC Open,AMC High,AMC Low,AMC Close,AMC Adj Close,AMC Volume
0,12/31/19,322.000000,324.920013,321.089996,323.570007,323.570007,3713300,7.24,7.30,7.15,7.24,7.195854,3279000
1,1/2/20,326.100006,329.980011,324.779999,329.809998,329.809998,4485800,7.30,7.56,7.23,7.46,7.414512,4545900
2,1/3/20,326.779999,329.859985,325.529999,325.899994,325.899994,3806900,7.45,7.60,7.31,7.32,7.275366,2218000
3,1/6/20,323.119995,336.359985,321.200012,335.829987,335.829987,5663100,7.25,7.30,7.11,7.12,7.076585,2903400
4,1/7/20,336.470001,336.700012,330.299988,330.750000,330.750000,4703200,7.11,7.20,7.00,7.13,7.086524,3205300